:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
    --green: #16d14e;
    --red: rgb(148, 12, 39);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: white;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: .9rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-submit {
    color: var(--green);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--green), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.67;
}

#settings {
    color: var(--gray);
    position: absolute;
    margin-top: 1rem;
    right: 0px;
    width: 100px;
    cursor: pointer;
}

#settings:hover {
    opacity: 0.8;
}

#settings:active {
    opacity: 0.67;
}

.popup .overlay {
    position:fixed;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--gray);
    width: 35rem;
    height: 43rem;
    z-index: 2;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
}

.popup .close_button {
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
    background: var(--darker);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: .6rem;
    line-height: 2rem;
    text-align: center;
}

.popup.active .overlay {
    display:block;
}

.popup.active .content {
    transition: all 85ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup .content .buttons #toggle_duplicates,#joke_button{
    border-radius: 1rem;
    background-color: var(--darker);
    color: var(--light);
    margin-top: 1rem;
    padding: .5rem;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    
}


.overall #delete_all {
    color: var(--red);
    background-color: var(--gray);
    padding: .3rem;
    border-radius: .8rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.overall #delete_all:hover {
    opacity: 0.8;
}

.overall #delete_all:active {
    opacity: 0.67;
}
.overall #print_all {
    color: var(--green);
    background-color: var(--gray);
    padding: .3rem;
    border-radius: .8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    display: none;
}

.overall #print_all:hover {
    opacity: 0.8;
}

.overall #print_all:active {
    opacity: 0.67;
}

.overall #drawTasks_button {
    color: yellow;
    background-color: var(--gray);
    padding: .3rem;
    border-radius: .8rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    cursor: pointer;
    display: none;
}

.overall #drawTasks_button:hover {
    opacity: 0.8;
}

.overall #drawTasks_button:active {
    opacity: 0.67;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: .9rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--green);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.67;
}

.task .actions .edit {
    color: var(--gray);
}

.task .actions .delete {
    color: var(--red);
}

.fa-face-surprise {
    color: var(--dark);
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.fa-pencil {
    color: var(--dark);
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
    
.fa-pencil:hover {
    opacity: 0.5;
    color: var(--light);
}

.fa-pencil:active {
    opacity: 0.67;
}
.fa-pencil:hover {
    opacity: 0.5;
    color: var(--light);
}

.fa-pencil:active {
    opacity: 0.67;
}

.fa-trash {
    color: var(--dark);
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
    
.fa-trash:hover {
    opacity: 0.8;
    color: var(--red);
}

.fa-trash:active {
    opacity: 0.67;
}